In [1]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [5]:
df.bedrooms.unique()

array([ 3,  2,  4,  5,  1,  6,  7,  8,  9, 11, 10, 33])

In [4]:
df.sort_values('sqft_living')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15367,2856101479,7/1/2014,276000.0,1,0.75,370,1801,1.0,0.0,0.0,...,5,370,0.0,1923,0.0,98117,47.6778,-122.389,1340,5000
860,1723049033,6/20/2014,245000.0,1,0.75,380,15000,1.0,0.0,0.0,...,5,380,0.0,1963,0.0,98168,47.4810,-122.323,1170,15000
21316,9266700190,5/11/2015,245000.0,1,1.00,390,2000,1.0,0.0,0.0,...,6,390,0.0,1920,0.0,98103,47.6938,-122.347,1340,5100
8614,6303400395,1/30/2015,325000.0,1,0.75,410,8636,1.0,0.0,0.0,...,4,410,0.0,1953,0.0,98146,47.5077,-122.357,1190,8636
11488,4322200105,3/31/2015,229050.0,1,1.00,420,3298,1.0,0.0,0.0,...,4,420,0.0,1949,0.0,98136,47.5375,-122.391,1460,4975
14452,7549801385,6/12/2014,280000.0,1,0.75,420,6720,1.0,0.0,0.0,...,5,420,0.0,1922,0.0,98108,47.5520,-122.311,1420,6720
465,8658300340,5/23/2014,80000.0,1,0.75,430,5050,1.0,NaN,0.0,...,4,430,0.0,1912,0.0,98014,47.6499,-121.909,1200,7500
1166,3523029041,10/9/2014,290000.0,2,0.75,440,8313,1.0,1.0,3.0,...,5,440,0.0,1943,0.0,98070,47.4339,-122.512,880,26289
18038,1352300580,11/14/2014,247000.0,1,1.00,460,4120,1.0,0.0,0.0,...,4,460,0.0,1937,0.0,98055,47.4868,-122.199,990,4120
15234,1320069249,10/20/2014,192500.0,1,1.00,470,63737,1.0,0.0,2.0,...,5,470,0.0,1924,0.0,98022,47.2163,-121.984,1350,46762
12063,8655900162,2/19/2015,156000.0,1,0.75,470,15000,1.0,0.0,0.0,...,4,470,0.0,1947,0.0,98014,47.6554,-121.908,1730,22500
8126,7849202585,9/4/2014,170000.0,1,1.00,480,4560,1.0,0.0,0.0,...,5,480,0.0,1922,0.0,98065,47.5253,-121.826,890,4803
17380,745000005,8/25/2014,145000.0,1,0.75,480,9750,1.0,0.0,0.0,...,4,480,0.0,1948,0.0,98146,47.4982,-122.362,1550,9924
4199,1437500015,7/9/2014,150000.0,3,0.75,490,38500,1.5,0.0,0.0,...,5,490,0.0,1959,0.0,98014,47.7112,-121.315,800,18297
4647,859000110,10/2/2014,125000.0,1,1.00,500,7440,1.0,0.0,0.0,...,5,500,0.0,1928,NaN,98106,47.5252,-122.362,1350,7440
2928,3702900165,11/4/2014,295000.0,1,1.00,520,5600,1.0,NaN,0.0,...,6,520,0.0,1918,0.0,98116,47.5579,-122.395,1030,5265
9632,4391600065,8/14/2014,330000.0,2,0.75,520,6862,1.0,0.0,0.0,...,4,520,0.0,1924,1980.0,98010,47.3260,-122.037,1170,8756
6773,7588700177,4/20/2015,310000.0,1,0.75,520,2885,1.0,0.0,0.0,...,6,520,0.0,1947,0.0,98117,47.6886,-122.378,980,4241
18045,1773101530,12/18/2014,275000.0,1,1.00,520,4800,1.0,0.0,0.0,...,5,520,0.0,1930,NaN,98106,47.5533,-122.363,800,4960
2139,1623049041,5/8/2014,82500.0,2,1.00,520,22334,1.0,0.0,0.0,...,5,520,0.0,1951,0.0,98168,47.4799,-122.296,1572,10570
3220,2420069251,2/25/2015,262000.0,1,0.75,520,12981,1.0,0.0,0.0,...,3,520,0.0,1920,0.0,98022,47.2082,-121.995,1340,12233
7010,203100460,9/24/2014,400000.0,1,1.00,530,13679,1.0,0.0,0.0,...,6,530,0.0,1949,0.0,98053,47.6422,-121.954,1930,20624
3578,1925069006,12/3/2014,355000.0,1,0.75,530,33278,1.0,0.0,2.0,...,4,530,0.0,1950,0.0,98074,47.6412,-122.079,2830,14311
12472,1172000150,8/29/2014,238000.0,1,1.00,530,6350,1.0,0.0,0.0,...,5,530,0.0,1941,0.0,98103,47.6946,-122.357,1200,6350
12744,2767603026,4/15/2015,425000.0,2,1.00,540,2500,1.0,0.0,0.0,...,5,540,0.0,1905,0.0,98107,47.6729,-122.383,1290,5000
14436,126039305,10/13/2014,345000.0,1,1.00,540,10125,1.0,0.0,0.0,...,5,540,0.0,1961,0.0,98177,47.7739,-122.358,1840,10125
21310,6003000851,5/22/2014,353000.0,1,1.00,550,1279,2.0,0.0,0.0,...,7,550,0.0,2008,NaN,98122,47.6160,-122.314,1460,1385
17404,2922703235,11/19/2014,290000.0,1,1.00,550,5700,1.0,0.0,0.0,...,6,550,0.0,1916,0.0,98117,47.6846,-122.366,1100,4560
11576,6453300055,10/7/2014,188000.0,1,1.00,550,16345,1.0,0.0,0.0,...,4,550,0.0,1945,0.0,98106,47.5181,-122.339,1100,9240
18493,623049232,7/15/2014,115000.0,2,0.75,550,7980,1.0,0.0,0.0,...,5,550,0.0,1952,NaN,98146,47.5110,-122.348,1330,7980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12859,2424049029,5/29/2014,3100000.0,6,4.25,6980,15682,3.0,0.0,4.0,...,12,5330,1650.0,1999,0.0,98040,47.5552,-122.231,3930,18367
15468,624069108,8/12/2014,3200000.0,4,3.25,7000,28206,1.0,1.0,4.0,...,12,3500,3500.0,1991,0.0,98075,47.5928,-122.086,4913,14663
7028,853200010,7/1/2014,3800000.0,5,5.50,7050,42840,1.0,0.0,2.0,...,13,4320,2730.0,1978,0.0,98004,47.6229,-122.220,5070,20570
4145,6447300265,10/14/2014,4000000.0,4,5.50,7080,16573,2.0,0.0,0.0,...,12,5760,1320.0,2008,0.0,98039,47.6151,-122.224,3140,15996
7900,1068000375,9/23/2014,3200000.0,6,5.00,7100,18200,2.5,0.0,0.0,...,13,5240,1860.0,1933,2002.0,98199,47.6427,-122.408,3130,6477
21034,2424059170,2/19/2015,900000.0,5,6.00,7120,40806,2.0,0.0,4.0,...,12,5480,1640.0,2007,0.0,98006,47.5451,-122.114,3440,36859
6495,2626069030,2/9/2015,1940000.0,4,5.75,7220,223462,2.0,0.0,4.0,...,12,6220,1000.0,2000,0.0,98053,47.7097,-122.013,2680,7593
21490,2524069097,5/9/2014,2240000.0,5,6.50,7270,130017,2.0,0.0,0.0,...,12,6420,850.0,2010,NaN,98027,47.5371,-121.982,1800,44890
18579,3023069166,7/8/2014,1140000.0,5,4.00,7320,217800,2.0,0.0,0.0,...,11,7320,0.0,1992,NaN,98058,47.4473,-122.086,3270,34500
2711,7851980260,7/30/2014,1110000.0,5,3.50,7350,12231,2.0,0.0,4.0,...,11,4750,2600.0,2001,0.0,98065,47.5373,-121.865,5380,12587
1313,7558700030,4/13/2015,5300000.0,6,6.00,7390,24829,2.0,1.0,NaN,...,12,5000,2390.0,1991,0.0,98040,47.5631,-122.210,4320,24619
10362,3303850390,12/12/2014,2980000.0,5,5.50,7400,18898,2.0,0.0,3.0,...,13,6290,1110.0,2001,0.0,98006,47.5431,-122.112,6110,26442
11859,8835800350,1/12/2015,1950000.0,4,3.25,7420,167869,2.0,0.0,3.0,...,12,7420,0.0,2002,NaN,98045,47.4548,-121.764,5610,169549
12358,6065300370,5/6/2015,4210000.0,5,6.00,7440,21540,2.0,0.0,0.0,...,12,5550,1890.0,2003,0.0,98006,47.5692,-122.189,4740,19329
4020,9175600025,10/7/2014,800000.0,7,6.75,7480,41664,2.0,0.0,2.0,...,11,5080,2400.0,1953,NaN,98166,47.4643,-122.368,2810,33190
14019,3459900230,11/25/2014,1680000.0,4,3.75,7620,29536,2.0,0.0,3.0,...,11,5980,1640.0,2005,0.0,98006,47.5571,-122.140,2840,20809
18462,1346300150,10/20/2014,3300000.0,8,4.00,7710,11750,3.5,0.0,0.0,...,12,6090,1620.0,1904,0.0,98112,47.6263,-122.314,4210,8325
16759,1630700380,1/30/2015,1920000.0,5,5.75,7730,230868,2.0,NaN,0.0,...,12,6660,1070.0,2004,0.0,98077,47.7615,-122.084,2660,39292
19842,2524069078,1/22/2015,2700000.0,4,4.00,7850,89651,2.0,0.0,0.0,...,12,7850,0.0,2006,0.0,98027,47.5406,-121.982,6210,95832
13398,2426039123,1/30/2015,2420000.0,5,4.75,7880,24250,2.0,0.0,2.0,...,13,7880,0.0,1996,0.0,98177,47.7334,-122.362,2740,10761
1446,8907500070,4/13/2015,5350000.0,5,5.00,8000,23985,2.0,0.0,4.0,...,12,6720,1280.0,2009,0.0,98004,47.6232,-122.220,4600,21750
1162,1247600105,10/20/2014,5110000.0,5,5.25,8010,45517,2.0,1.0,4.0,...,12,5990,2020.0,1999,0.0,98033,47.6767,-122.211,3430,26788
18288,6072800246,7/2/2014,3300000.0,5,6.25,8020,21738,2.0,0.0,0.0,...,11,8020,0.0,2001,NaN,98006,47.5675,-122.189,4160,18969
14542,2303900035,6/11/2014,2890000.0,5,6.25,8670,64033,2.0,0.0,4.0,...,13,6120,2550.0,1965,NaN,98177,47.7295,-122.372,4140,81021
4407,2470100110,8/4/2014,5570000.0,5,5.75,9200,35069,2.0,0.0,0.0,...,13,6200,3000.0,2001,NaN,98039,47.6289,-122.233,3560,24345
8085,1924059029,6/17/2014,4670000.0,5,6.75,9640,13068,1.0,1.0,4.0,...,12,4820,4820.0,1983,2009.0,98040,47.5570,-122.210,3270,10454
9245,9208900037,9/19/2014,6890000.0,6,7.75,9890,31374,2.0,0.0,4.0,...,13,8860,1030.0,2001,0.0,98039,47.6305,-122.240,4540,42730
3910,9808700762,6/11/2014,7060000.0,5,4.50,10040,37325,2.0,1.0,2.0,...,11,7680,2360.0,1940,2001.0,98004,47.6500,-122.214,3930,25449
7245,6762700020,10/13/2014,7700000.0,6,8.00,12050,27600,2.5,0.0,3.0,...,13,8570,3480.0,1910,1987.0,98102,47.6298,-122.323,3940,8800
12764,1225069038,5/5/2014,2280000.0,7,8.00,13540,307752,3.0,0.0,4.0,...,12,9410,4130.0,1999,0.0,98053,47.6675,-121.986,4850,217800

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [16]:
df.drop(['id', 'date', 'sqft_basement'], axis=1, inplace=True)

In [17]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'yr_built',
       'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [18]:
y = df.price
X = df.drop('price', axis=1)

In [19]:
# np.mean(cross_val_score(linreg, X, y, cv=5, scoring='neg_mean_squared_error')) -!-!-!    THROWING AN ERROR FOR NANS

In [20]:
df.dropna(inplace=True)

In [21]:
y=df.price
X=df.drop('price', axis=1)

In [22]:
cross_val_score(linreg, X, y, cv=10, scoring='neg_mean_squared_error')

array([-4.39002109e+10, -4.96710633e+10, -3.10421677e+10, -5.57385541e+10,
       -3.89184716e+10, -3.77547883e+10, -3.53034859e+10, -3.96726493e+10,
       -4.12255629e+10, -4.79087460e+10])

In [23]:
import sklearn.metrics
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'brier_score_loss',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'mutual_info_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'v_measure_score']

In [24]:
target = 'price'
predictors = df.drop('price', axis=1)
f = "+".join(predictors.columns)
f = target + "~" + f
f

'price~bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+yr_built+yr_renovated+zipcode+lat+long+sqft_living15+sqft_lot15'

In [25]:
model = ols(formula=f, data=df).fit()

In [26]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.701
Model:                            OLS   Adj. R-squared:                  0.701
Method:                 Least Squares   F-statistic:                     2174.
Date:                Tue, 16 Apr 2019   Prob (F-statistic):               0.00
Time:                        12:22:22   Log-Likelihood:            -2.1503e+05
No. Observations:               15762   AIC:                         4.301e+05
Df Residuals:                   15744   BIC:                         4.302e+05
Df Model:                          17
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      5.302e+06   3.48e+06      1.524      0.127   -1.52e+06    1.21e+07
bedrooms       -3.75e+04   2219.565    -16.895      0.000   -4.18e+04   -3.31e+04
bathrooms      4.469e+04   3864.212     11.564      0.000    3.71e+04    5.23e+04
sqft_living     154.5053      5.169     29.892      0.000     144.374     164.637
sqft_lot          0.0939      0.056      1.670      0.095      -0.016       0.204
floors         4029.0029   4268.398      0.944      0.345   -4337.547    1.24e+04
waterfront     6.098e+05   2.05e+04     29.679      0.000     5.7e+05     6.5e+05
view           5.283e+04   2552.740     20.696      0.000    4.78e+04    5.78e+04
condition      2.653e+04   2785.489      9.525      0.000    2.11e+04     3.2e+04
grade          9.375e+04   2570.660     36.470      0.000    8.87e+04    9.88e+04
sqft_above       38.2463      5.138      7.444      0.000      28.175      48.317
yr_built      -2674.2510     85.958    -31.111      0.000   -2842.739   -2505.763
yr_renovated     19.8281      4.368      4.540      0.000      11.267      28.389
zipcode        -571.0855     39.078    -14.614      0.000    -647.682    -494.489
lat             6.04e+05   1.27e+04     47.578      0.000    5.79e+05    6.29e+05
long          -2.174e+05   1.56e+04    -13.964      0.000   -2.48e+05   -1.87e+05
sqft_living15    15.6360      4.109      3.805      0.000       7.581      23.691
sqft_lot15       -0.3382      0.085     -3.998      0.000      -0.504      -0.172
==============================================================================
Omnibus:                    13694.698   Durbin-Watson:                   1.980
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1491014.115
Skew:                           3.668   Prob(JB):                         0.00
Kurtosis:                      50.080   Cond. No.                     2.16e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.16e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [27]:
model.condition_number

216078397.51846904