In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
plt.style.use('seaborn')
import statsmodels.api as sm
# % get_backend()
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split

from feat_to_model_eval import feat_to_model_kfold_eval, predict_from_line
from haversine import distance_from_flatiron

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
line, errs, mse = feat_to_model_kfold_eval('price', ['sqft_living', 'grade'], df, kvals=[5])

Line: {'intercept': -602791.7882092998, 'sqft_living': 184.12145114189298, 'grade': 99251.0936748824}
RMSE: 250854.4418604683
Please pass in MAE=True if you'd like to see MAE

In [5]:
line

{'intercept': -602791.7882092998,
 'sqft_living': 184.12145114189298,
 'grade': 99251.0936748824}

In [6]:
mock_home_df = df.drop(df[:].index).copy()

In [7]:
mock_home_df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [8]:
mock_home_df.head()

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [9]:
mock_home_df.loc['test_home', 'sqft_living'] = 1670

In [10]:
mock_home_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
test_home,NaN,NaN,NaN,NaN,NaN,1670.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def create_a_home(**kwargs):
    for col, value in kwargs.items():
        mock_home_df.loc['test_home', str(col)] = value
    display(mock_home_df)

In [16]:
create_a_home(sqft_living = 1800, grade= np.nan)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
test_home,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Lets test the make_a_house  log feature
from prediction import make_a_house

In [24]:
mock_df = make_a_house(bathrooms=3, sqft_living=1800)

           bathrooms  sqft_living  log_sqft_living
test_home        3.0       1800.0         7.495542

In [27]:
for col, coef in line.items():
    print( f'{col} and {coef}')

intercept and -602791.7882092998
sqft_living and 184.12145114189298
grade and 99251.0936748824